.header {
  position: fixed;
  z-index: 1;
  padding: 20px 24px;
  width: 100%;
  background-color: $light;
}

.header-wrapper {
  height: 88px;
}

.main {
  flex: 1;
  padding: 0 24px;
}

.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  min-width: 420px;
}

.content-wrapper {
  padding-bottom: 24px;
}

.footer {
  background-color: $light;
  padding: 18px 24px;
}
